.app-header {
  top: 0;
  width: 100%;
  background: #fafbfc;
  align-content: center;
  align-items: center;
  display: flex;
  height: 60px;
  position: fixed;
  gap: 2em;
  transition: all 0.2s;
  z-index: 10;
  padding: 0 1.5rem;
}

.app-header.header-shadow {
  box-shadow: 0 0.46875rem 2.1875rem rgba(8, 10, 37, 0.03),
    0 0.9375rem 1.40625rem rgba(8, 10, 37, 0.03),
    0 0.25rem 0.53125rem rgba(8, 10, 37, 0.05),
    0 0.125rem 0.1875rem rgba(8, 10, 37, 0.03);
}

.app-header__title {
  align-items: center;
  display: flex;
  height: 60px;
  transition: width 0.2s;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.app-header__title a {
  color: inherit;
}
